<div class="container">
  <div class="header">
    <div class="spacer"></div>
    <div class="center-banner">
      <img src="banner.png" alt="GigaMarket" class="logo">
    </div>   
    <div class="header-buttons">      
        <button routerLink="/registro">Cerrar Sesión</button>
    </div>  
  </div>
    <div class="order-details">
      <h2>Detalle de la compra 0001</h2>
      <div class="order-item">
        <div class="item-label">Fecha compra</div>
        <div class="item-value">23/03/2025</div>
      </div>
      <div class="order-item">
        <div class="item-label">Dirección Envío</div>
        <div class="item-value">Calle 123 # 45-67</div>
      </div>
      <div class="order-item">
        <div class="item-label">Estado</div>
        <div class="item-value">Procesada</div>
      </div>
      <div class="order-item">
        <div class="item-label">Productos (2)</div>
        <div class="item-value">$ 815.000</div>
      </div>
      <div class="order-item">
        <div class="item-label">Descuentos</div>
        <div class="item-value">$ 0</div>
      </div>
      <div class="order-item">
        <div class="item-label">Envío</div>
        <div class="item-value">$ 0</div>
      </div>
      <div class="order-item total">
        <div class="item-label">Total pagado</div>
        <div class="item-value">$ 815.000</div>
      </div>
      <div class="order-item">
        <div class="item-label"></div>
        <div class="item-value">Transferencia PayPal</div>
      </div>
      <button class="print-button">Imprimir Comprobante</button>
    </div>
  </div>