<div class="registro-container">
  <div class="logo">
    <img src="logo.png" alt="Giga Market Logo">
  </div>
  <div class="form-container">
    <input type="text" placeholder="Nombre Completo"  [(ngModel)]="user.name" name="name">
    <input type="text" placeholder="Usuario"[(ngModel)]="user.user" name="user">
    <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
    <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
    
    <button class="register-button" (click)="crearUsuario()">Registrar</button>   
    <a class="login-link" routerLink="/login">Iniciar Sesión</a>
    <a class="login-link" routerLink="/">Ir al Home</a>
  </div>
</div>