<div class="container">
    <div class="header">
        <div class="banner">
          <img src="banner.png" alt="GIGAMARKET" class="banner-image">
        </div>
        <div class="user-actions">
          <a href="#">Cerrar Sesión</a>
          <div class="cart-icon"><span class="cart-count">2</span></div>
        </div>
      </div>
  
    <div class="main-content">
      <div class="product-list">
        <div class="product-item">
          <img src="URL_IMAGEN_ALTAVOZ" alt="Altavoz JBL Flip 5" class="product-image">
          <div class="product-details">
            <div class="product-name">Altavoz JBL Flip 5</div>
            <div class="product-price">$ 350.000</div>
            <div class="product-quantity">
              Cant. <select [(ngModel)]="productos[0].cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                </select>
            </div>
          </div>
        </div>
  
        <div class="product-item">
          <img src="URL_IMAGEN_SSD" alt="SSD Sandisk 1TB" class="product-image">
          <div class="product-details">
            <div class="product-name">SSD Sandisk 1TB</div>
            <div class="product-price">$ 465.000</div>
            <div class="product-quantity">
              Cant. <select [(ngModel)]="productos[1].cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                </select>
            </div>
          </div>
        </div>
      </div>
  
      <div class="order-summary">
        <h2>Resumen del pedido Nro 001</h2>
        <div class="summary-item">
          <div>Total artículos</div>
          <div>$ {{ calcularTotal() }}</div>
        </div>
        <div class="summary-item">
          <div>Descuentos</div>
          <div>$ 0</div>
        </div>
        <div class="summary-item total">
          <div>Total a pagar</div>
          <div>$ {{ calcularTotal() }}</div>
        </div>
        <button class="pay-button">Realizar Pago</button>
      </div>
    </div>
  
    <div class="shipping-address">
      Dirección de Envío: <input type="text" value="Calle 123 # 45-67">
    </div>
  </div>