<div class="container">
  <div class="header">
      <div class="center-banner">
        <img src="banner.png" alt="GigaMarket" class="banner">
      </div>   
      <div class="header-buttons">
        <button class="logout" (click)="logout()">  <i class="fas fa-user-plus"></i> Cerrar sesión</button>
    </div>  
  </div>

  <div class="content">
      <div class="sidebar">
          <ul>
              <li>Navegación</li>
              <li routerLink="/admin-users">Administración de Usuarios</li>
              <li routerLink="/admin-productos">Administración de Productos</li>
              <li>Informe de Ventas</li>
          </ul>
      </div>

      <div class="data-grid">
          <div class="title-bar">
              <h2>Mantenimiento Usuarios</h2>
                                
              <button class="create-user" routerLink="/crea-user-admin">
                  <i class="fas fa-user-plus"></i> Crear Usuario Admin
              </button>
          </div>

          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Role</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.user }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <button routerLink="/modificar-user">
                    <img src="editar_usuario.png" style="width: 20px;" alt="Editar Usuario">
                  </button>
                  <button id="delete" (click)="user.id && deleteUser(user.id)">
                    <img src="borrar_usuario.png" style="width: 20px;" alt="Eliminar Usuario">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>