<div class="login-container">
    <img src="logo.png" alt="GIGA MARKET" class="logo">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="register-btn">Registrar</button>
    </form>
    <a class="login-link" routerLink="/login">Iniciar Sesión</a>
  </div>