<div class="home-container">
  <div class="header">
    <div class="spacer"></div>
    <div class="center-banner">
      <img src="banner.png" alt="GigaMarket" class="logo">
    </div>   
    <div class="header-buttons">
      <div *ngIf="isUser()">
        <p class="user-name">Bienvenido, {{ userName }}</p> <!-- Nombre del usuario -->
        <button id="cerrar_sesion" (click)="logout()">Cerrar Sesión</button>
        <button id="carrito" class="cart-button">
          <img src="cart.png" alt="Carrito" class="cart-image">
          <i class="fas fa-shopping-cart"></i> <span class="cart-count">{{ cartCount }}</span>
        </button>
      </div>
        <button id="login" routerLink="/login" *ngIf="!isUser()">Iniciar Sesión</button>
        <button id="registro" routerLink="/registro"*ngIf="!isUser()">Registrarse</button>
        <!-- <button id="cerrar_sesion" *ngIf="isUser()" (click)="logout()">Cerrar Sesión</button> -->
    </div>  
  </div>
    
    <h2>Bienvenidos a Gigamarket</h2>
    <p>Tu tienda virtual de productos tecnológicos de última generación. En Gigamarket, </p>
    <p>nos especializamos en ofrecer una amplia variedad de dispositivos y accesorios tecnológicos</p> 
    <p>para cubrir todas tus necesidades, desde lo más básico hasta lo más innovador del mercado.</p>
  
    <div class="product-list">
        <div class="product" *ngFor="let product of products">
          <img [src]="product.image" [alt]="product.name">
          <h3>{{ product.name }}</h3>
          <p class="price">{{ product.price | currency:'USD' }}</p>
          <button id="agregar_carro" class="product-button" *ngIf="isUser()" (click)="addToCart()">Agregar a Carrito</button>
          <br>
          <button id="ver_detalle" class="product-button" (click)="verDetalle(product)">Ver detalle</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" *ngIf="selectedProduct">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h3>Detalles del Producto</h3>
        <label>{{ selectedProduct.description }}</label>
      </div>
    </div>
</div>
