<div class="home-container">
  <div class="header">
    <div class="spacer"></div>
    <div class="center-banner">
      <img src="banner.png" alt="GigaMarket" class="logo">
    </div>   
    <div class="header-buttons">
        <button routerLink="/login">Iniciar Sesión</button>
        <button routerLink="/registro">Registrarse</button>
    </div>  
  </div>
    
    <h2>Bienvenidos a Gigamarket</h2>
    <p>Tu tienda virtual de productos tecnológicos de última generación. En Gigamarket, </p>
    <p>nos especializamos en ofrecer una amplia variedad de dispositivos y accesorios tecnológicos</p> 
    <p>para cubrir todas tus necesidades, desde lo más básico hasta lo más innovador del mercado.</p>
  
    <div class="product-list">
        <div class="product" *ngFor="let product of products">
          <img [src]="product.image" [alt]="product.name">
          <h3>{{ product.name }}</h3>
          <p class="price">{{ product.price }}</p>
          <button (click)="verDetalle(product)">Ver detalle</button>
        </div>
      </div>
</div>