<div class="container">
  <div class="header">
    <div class="spacer"></div>
    <div class="center-banner">
      <img src="banner.png" alt="GigaMarket" class="logo">
    </div>   
  </div>
  
    <div class="contact-details">
      <h2>Contacto - Gigamarket</h2>
  
      <div class="contact-item">
        <span class="icon"><img class="imagen" src="ubicacion.png" alt="Ubicacion"></span>
        <span class="label">Dirección:</span>
        <span class="value">Av. Tecnología 123, Ciudad Tech, Mundo Digital</span>
      </div>
  
      <div class="contact-item">
        <span class="icon"><img class="imagen" src="email.png" alt="Email"></span>
        <span class="label">Email:</span>
        <span class="value">contacto&#64;gamarket.com</span>
      </div>
  
      <div class="contact-item">
        <span class="icon"><img class="imagen" src="phone.png" alt="Teléfono"></span>
        <span class="label">Teléfono:</span>
        <span class="value">+57 300 123 4567</span>
      </div>
  
      <div class="contact-item">
        <span class="icon"><img class="imagen" src="reloj.png" alt="Horario"></span>
        <span class="label">Horario:</span>
        <span class="value">Lunes a Viernes, 8:00 AM - 6:00 PM</span>
      </div>
  
      <div class="social-media">
        <span class="label">Síguenos en redes</span>
        <div class="social-icons">
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Twitter</a>
          <a href="#" class="social-icon">Instagram</a>
        </div>
      </div>
    </div>
  </div>