<div class="container">
    <div class="banner">
      <img src="banner.png" alt="GIGAMARKET" class="banner-image">
    </div>
  
    <div class="contact-details">
      <h2>Contacto - Gigamarket</h2>
  
      <div class="contact-item">
        <span class="icon">&#x1F4CD;</span>
        <span class="label">Dirección:</span>
        <span class="value">Av. Tecnología 123, Ciudad Tech, Mundo Digital</span>
      </div>
  
      <div class="contact-item">
        <span class="icon">&#x1F4E7;</span>
        <span class="label">Email:</span>
        <span class="value">contactoARROBAigamarket.com</span>
      </div>
  
      <div class="contact-item">
        <span class="icon">&#x1F4DE;</span>
        <span class="label">Teléfono:</span>
        <span class="value">+57 300 123 4567</span>
      </div>
  
      <div class="contact-item">
        <span class="icon">&#x23F0;</span>
        <span class="label">Horario:</span>
        <span class="value">Lunes a Viernes, 8:00 AM - 6:00 PM</span>
      </div>
  
      <div class="social-media">
        <span class="label">Síguenos en redes</span>
        <div class="social-icons">
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Twitter</a>
          <a href="#" class="social-icon">Instagram</a>
        </div>
      </div>
    </div>
  </div>