<div class="container">
    <div class="header">
        <div class="center-banner">
          <img src="banner.png" alt="GigaMarket" class="banner">
        </div>   
        <div class="header-buttons">
          <button class="logout" (click)="logout()">  <i class="fas fa-user-plus"></i> Cerrar sesión</button>
      </div>  
    </div>

    <div class="content">
        <div class="sidebar">
            <ul>
                <li>Navegación</li>
                <li routerLink="/admin-users">Administración de Usuarios</li>
                <li routerLink="/admin-productos">Administración de Productos</li>
                <li>Informe de Ventas</li>
            </ul>
        </div>

        <div class="form-container">
            <h2>Creación Usuario Administrador</h2>

            <div class="form-group">
                <label for="nombreCompleto">Nombre Completo</label>
                <input type="text" id="nombreCompleto" [(ngModel)]="user.name">
            </div>

            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" [(ngModel)]="user.user">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="user.email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="user.password">
            </div>

            <button class="register-button" (click)="crearUsuario()">Registrar</button>
        </div>
    </div>
</div>