<div class="container">
    <div class="header">
        <div class="center-banner">
          <img src="banner.png" alt="GigaMarket" class="banner">
        </div>   
        <div class="header-buttons">
          <button class="logout" (click)="logout()">  <i class="fas fa-user-plus"></i> Cerrar sesión</button>
      </div>  
    </div>
  
  <div class="content">
      <div class="sidebar">
          <ul>
              <li>Navegación</li>
              <li routerLink="/admin-users">Administración de Usuarios</li>
              <li routerLink="/admin-productos">Administración de Productos</li>
              <li>Informe de Ventas</li>
          </ul>
      </div>

      <form class="form-container" (ngSubmit)="crearProducto()">
        <div class="form-container">
            <h2>Creación de Productos</h2>
  
            <div class="form-group">
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" id="nombreProducto" [(ngModel)]="name" name="nombreProducto">
            </div>
  
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" [(ngModel)]="description" name="descripcion">
            </div>
  
            <div class="form-group">
                <label for="precioUnidad">Precio Unidad</label>
                <input type="number" id="precioUnidad" [(ngModel)]="price" name="precioUnidad">
            </div>
  
            <div class="form-group">
                <label for="imagenProducto">Imagen productos</label>
                <input type="file" id="imagenProducto" (change)="onFileSelected($event)">
            </div>
  
            <button class="examinar" type="submit">Registrar</button>
  
          
        </div>
      </form>
      
      
  </div>
</div>